<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-primary">
    <div style="background-color: #0D6EFD;" class="container">
      <div class="collapse navbar-collapse" id="navbarSupportedContent1">
        <a class="navbar-brand mt-2 mt-sm-0" href="#">
          <img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="50" alt="MDB Logo"
            loading="lazy" />
        </a>
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item active">
            <a class="nav-link " href="#">Trang chủ</a>
          </li>
        </ul>
      </div>

      <div class="d-flex align-items-center">

        <div class="button-div">
          <span>Xin chào : </span>
          <a href="/customerinfo/{{username}}">
            <span style="width: 300px;text-align: center;"> {{username}}</span>
          </a>
          <button style="margin-left: 20px;" type="button" class="cart btn btn-primary" (click)="Cart()">
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-cart4"
              viewBox="0 0 16 16">
              <path
                d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5M3.14 5l.5 2H5V5zM6 5v2h2V5zm3 0v2h2V5zm3 0v2h1.36l.5-2zm1.11 3H12v2h.61zM11 8H9v2h2zM8 8H6v2h2zM5 8H3.89l.5 2H5zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0m9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2m-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0" />
            </svg>
          </button>
          <!-- <div style="width:250px;text-align: center;">
            <button class="btn btn-primary" (click)="toggleOptions(username)">Tôi</button>
            <div id="options_{{username}}" [style.display]="optionsVisible ? 'block' : 'none'">
              <a href="/customerinfo/{{username}}/orders">Đơn hàng</a>
              <a href="/customerinfo/{{username}}/profile">Hồ sơ</a>
            </div>

          </div>

          
          <button style="max-width : 120px" (click)="Logout()" class="login-button">Đăng xuất</button> -->
        </div>
      </div>
    </div>
    <div>
      <div class="search">
        <!-- Search -->
        <form class="w-auto py-1 search-box" style="max-width: 12rem">
          <div class="input-group">
            <input type="search" class="form-control rounded-0" placeholder="Search" aria-label="Search">
          </div>
        </form>
      </div>
    </div>
  </nav>



  <div style="height: 170px;"></div>
  <!-- carousel -->
  <div id="carouselExampleCaptions" class="carousel slide carousel-fade" data-mdb-ride="carousel">
    <!-- banner -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/imgs/banner.jpg" width="100%" />
      </div>
    </div>

    <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleCaptions"
      data-mdb-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleCaptions"
      data-mdb-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!--Main layout-->
  <main>
    <div class="container">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #0D6EFD">
        <!-- Container wrapper -->
        <div class="container-fluid">

          <!-- Navbar brand -->
          <a class="navbar-brand" href="#">Danh mục:</a>

          <!-- Collapsible wrapper -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent2">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

              <!-- Link -->
              <li class="nav-item acitve">
                <a class="nav-link text-white" href="#">Bộ</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Áo</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Quần</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-white" href="#">Phụ kiện</a>
              </li>

            </ul>

          </div>
        </div>
        <!-- Container wrapper -->
      </nav>
      <!-- Navbar -->

      <!-- Products -->
      <section>
        <div class="text-center">
          <div class="row">

            <ng-container *ngFor="let clothes of list">
              <div class="col-lg-3 col-md-6 mb-4">
                <!-- 1 item -->
                <div style="height: 400px;" class="card">
                  <div class="bg-image hover-zoom ripple ripple-surface ripple-surface-light"
                    data-mdb-ripple-color="light">
                    <a [routerLink]="['/details/', clothes.name]">
                      <img height="200px" *ngIf="clothes.colors && clothes.colors[0] && clothes.colors[0].urlImage"
                        src="/assets/imgs/{{clothes.colors[0].urlImage}}" />
                    </a>
                  </div>

                  <div class="card-body">
                    <a style="font-family: Arial, sans-serif;" [routerLink]="['/details/', clothes.name]">
                      <span style="
                      font-size: 20px;
                      display: -webkit-box; 
                      -webkit-line-clamp: 2; 
                      -webkit-box-orient: vertical; 
                      overflow: hidden; 
                      text-overflow: ellipsis; 
                      height: 3em;" class="card-title mb-2">{{clothes.name}}</span>
                    </a>
                    <a href="" class="text-reset ">
                      <p>{{clothes.category.name}}</p>
                    </a>
                    <span>Đã bán : {{clothes.sold}}</span>
                    <p class="item-price"><s>{{clothes.maxPrice}}</s> <b>{{clothes.minPrice}}</b></p>
                    <div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-container>

          </div>
        </div>
      </section>

    </div>
  </main>
  <!--Main layout-->

  <!-- Pageble -->
  <nav style="display: flex;
  justify-content: center;" aria-label="Pagination">
    <ul class="pagination">
      <li style="cursor: pointer;" class="page-item" [class.disabled]="currentPage == 1">
        <a class="page-link" (click)="previousPage()" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
      <ng-container *ngFor="let page of pages">
        <li style="cursor: pointer;" class="page-item" [class.active]="currentPage == page" *ngIf="page !== '...'">
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item disabled" *ngIf="page === '...'">
          <span class="page-link">...</span>
        </li>
      </ng-container>
      <li style="cursor: pointer;" class="page-item" [class.disabled]="currentPage == totalPages">
        <a class="page-link" (click)="nextPage()" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
          <span class="sr-only"></span>
        </a>
      </li>
    </ul>
  </nav>


  <!--Main layout-->

  <footer class="text-center text-lg-start text-muted bg-primary mt-3">
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start pt-4 pb-4">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-12 col-lg-3 col-sm-12 mb-2">
            <!-- Content -->
            <a href="#" target="_blank" class="text-white h4">
              Shop Thái Hòa
            </a>
            <p class="mt-1 text-white">
              © 2024 Copyright: <br /> ThaiHoaNguyen
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
              Store
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">About us</a></li>
              <li><a class="text-white-50" href="#">Find store</a></li>
              <li><a class="text-white-50" href="#">Categories</a></li>
              <li><a class="text-white-50" href="#">Blogs</a></li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
              Information
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">Help center</a></li>
              <li><a class="text-white-50" href="#">Money refund</a></li>
              <li><a class="text-white-50" href="#">Shipping info</a></li>
              <li><a class="text-white-50" href="#">Refunds</a></li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-6 col-sm-4 col-lg-2">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">
              Support
            </h6>
            <ul class="list-unstyled mb-4">
              <li><a class="text-white-50" href="#">Help center</a></li>
              <li><a class="text-white-50" href="#">Documents</a></li>
              <li><a class="text-white-50" href="#">Account restore</a></li>
              <li><a class="text-white-50" href="#">My orders</a></li>
            </ul>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-12 col-sm-12 col-lg-3">
            <!-- Links -->
            <h6 class="text-uppercase text-white fw-bold mb-2">Newsletter</h6>
            <p class="text-white">Stay in touch with latest updates about our products and offers</p>
            <div class="input-group mb-3">
              <input type="email" class="form-control border" placeholder="Email" aria-label="Email"
                aria-describedby="button-addon2" />
              <button class="btn btn-light border shadow-0" type="button" id="button-addon2"
                data-mdb-ripple-color="dark">
                Join
              </button>
            </div>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <div class="">
      <div class="container">
        <div class="d-flex justify-content-between py-4 border-top">
          <!--- payment --->
          <div>
            <i class="fab fa-lg fa-cc-visa text-white"></i>
            <i class="fab fa-lg fa-cc-amex text-white"></i>
            <i class="fab fa-lg fa-cc-mastercard text-white"></i>
            <i class="fab fa-lg fa-cc-paypal text-white"></i>
          </div>
          <!--- payment --->

          <!--- language selector --->
          <div class="dropdown dropup">
            <a class="dropdown-toggle text-white" href="#" id="Dropdown" role="button" data-mdb-toggle="dropdown"
              aria-expanded="false"> <i class="flag-united-kingdom flag m-0 me-1"></i>English </a>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="Dropdown">
              <li>
                <a class="dropdown-item" href="#"><i class="flag-united-kingdom flag"></i>English <i
                    class="fa fa-check text-success ms-2"></i></a>
              </li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
              </li>
            </ul>
          </div>
          <!--- language selector --->
        </div>
      </div>
    </div>
  </footer>
</body>

</html>